.weather-app {
  background-color: rgb(242, 238, 238);
  padding: 25px;
}

body {
  background-color: rgb(118, 168, 221);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
}
.city-displayed {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 3px;
  color: rgb(1, 1, 178);
}

.weather-specs {
  color: rgb(128, 136, 251);
}
.current-temperature {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 3px;
  color: rgb(1, 1, 178);
}

.current-temperature-icon {
}
.current-temperature-value {
}
.current-temperature-unit {
}
