body {
  background-color: rgb(97, 48, 75);
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  color: rgb(71, 71, 71);
}

form {
  display: flex;
  justify-content: center;
}

p {
  font-size: 16px;
  border-style: dashed;
  border-color: rgb(133, 124, 141);
  max-width: fit-content;
  padding: 15px;
  justify-content: left;
}

footer {
  font-size: 12px;
  text-align: center;
  border-style: dashed;
  border-color: rgb(133, 124, 141);
  display: block;
  padding: 5px 5px;
  margin: 10px;
}
.weather-app {
  background-color: rgb(148, 191, 190);
  margin: 45px auto;
  padding: 30px;
  box-shadow: rgb(92, 0, 41) 7px 7px;
  border-style: solid;
  border-color: rgb(92, 0, 41);
  border-width: 2px;
  max-width: 600px;
}
.search-input {
  padding: 15px 20px;
  margin: 20px;
  width: 80%;
  font-size: 16px;
  background-color: rgb(133, 124, 141);
  font-family: "Roboto Mono", monospace;
}
::placeholder {
  color: rgb(172, 247, 193);
  font-family: "Roboto Mono", monospace;
  opacity: 1;
}

.search-button {
  padding: 15px 20px;
  margin: 20px;
  width: 20%;
  font-size: 16px;
  background-color: rgb(172, 247, 193);
  color: rgb(92, 0, 41);
  border-style: dashed;
  border-color: rgb(92, 0, 41);
  font-family: "Roboto Mono", monospace;
}

.city-displayed {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 3px;
  color: rgb(172, 247, 193);
  text-shadow: 2px 2px rgb(92, 0, 41);
}

.weather-specs {
  color: rgb(128, 136, 251);
}
.current-temperature {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 3px;
  color: rgb(172, 247, 193);
  text-shadow: 2px 2px rgb(92, 0, 41);
  display: flex;
  justify-content: right;
  border-style: dashed;
  border-color: rgb(133, 124, 141);
  max-width: fit-content;
  padding: 15px;
}
/*
.current-temperature-icon {
}
.current-temperature-value {
}
.current-temperature-unit {
}
*/
